<div id="<%= dom_id movie_metric %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_metric.movie_id %>
  </p>

  <p>
    <strong>Views count:</strong>
    <%= movie_metric.views_count %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= movie_metric.likes_count %>
  </p>

  <p>
    <strong>Comments count:</strong>
    <%= movie_metric.comments_count %>
  </p>

  <p>
    <strong>Shares count:</strong>
    <%= movie_metric.shares_count %>
  </p>

</div>
