<div class="col">
  <div class="card h-100 shadow-sm">
    <% if movie.images.attached? %>
      <%= image_tag movie.images.first&.variant(resize_to_fill: [150, 150]), class: "card-img-top", alt: movie.title %>
    <% else %>
      <%= image_tag "placeholder.png", class: "card-img-top", alt: "No thumbnail", size: "#{304}x#{304}" %>
    <% end %>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title"><%= movie.title %></h5>
      <p class="card-text text-truncate"><%= movie.description %></p>
      <%= link_to "ดูรีวิว", movie_path(movie), class: "btn btn-success mt-auto",data: { turbo: false } %>
    </div>
    <div class="card-footer bg-white">
      <%= render "social_panel", movie_metric: movie.movie_metric %>
    </div>
  </div>
</div>