<div class="mr-20">
  <%= link_to "<<< กลับสู่หน้าหลัก", root_path %>
</div>
<!-- app/views/movies/index.html.erb -->
<div class="container mt-4">
  <h1 class="mb-4">Movies</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% @movies.each do |movie| %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <% if movie.images.attached? %>
            <%= image_tag movie.images.first.variant(resize_to_fill: [150, 150]), class: "card-img-top", alt: movie.title %>
          <% else %>
            <%= image_tag "placeholder.png", class: "card-img-top", alt: "No thumbnail", size: "#{304}x#{304}" %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text text-truncate"><%= movie.description %></p>
            <%= link_to "Watch", movie_path(movie), class: "btn btn-success mt-auto" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
