<div class="container my-5">
  <div class="row">
    <!-- Left Section: Image + Details -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="row g-0 h-100">
          <%= render 'image_carousel', movie: @movie %>
          <div class="col-6">
            <div class="card-body">
              <h2 class="card-title mb-3 fw-bold text-primary"><%= @movie.title %></h2>
              <h5 class="mb-3 text-secondary">🎬 รายละเอียด</h5>
              <ul class="list-group list-group-flush border rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="fw-semibold">เปิดตัววันแรก:</span>
                  <span><%= @movie.release_date %></span>
                </li>
                <li class="list-group-item">
                  <div class="d-flex flex-column">
                    <span class="fw-semibold">Category:</span>
                    <span class="badge bg-info text-dark align-self-start mt-1">
                      <%= @movie.category %>
                    </span>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="fw-semibold">ความยาว:</span>
                  <span><%= @movie.duration %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Section: YouTube Video -->
    <div class="col-md-6 mb-4">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/<%= @movie.video_id %>" 
            title="<%= @movie.youtube_title %>" 
            allowfullscreen>
        </iframe>
      </div>
      <div class="content bg-white flex-grow-1 overflow-auto p-3">
        <h5>เรื่องย่อ:</h5>
        <%= @movie.content %>
      </div>
    </div>
    <div class="card-footer bg-white">
      <%= render "shared/social_panel", movie: @movie %>
    </div>
  </div>
</div>