<div class="d-flex text-center">
  <% disable_buttons = current_user.present? ? false : true %>
  <%= form_with url: user_likes_path, method: :post, local: true, class: "flex-fill me-2" do |f| %>
    <%= f.hidden_field :movie_id, value: movie.id %>
    <%= f.hidden_field :user_id, value: current_user&.id %>
    <button type="submit" class="btn btn-light w-100 <%= 'disabled' if disable_buttons %>">
      <i class="bi bi-hand-thumbs-up"></i> <%= movie.movie_metric.likes_count %>
    </button>
  <% end %>
  <button class="btn btn-light flex-fill me-2 <%= 'disabled' if disable_buttons %>"
        data-bs-toggle="modal"
        data-bs-target="#commentsModal-<%= movie.id %>">
    <i class="bi bi-chat-dots"></i> <%= movie.movie_metric.comments_count %>
  </button>
  <button class="btn btn-light flex-fill disabled">
    <i class="bi bi-eye"></i> <%= movie.movie_metric.views_count %>
  </button>
</div>