<div class="card shadow-sm mb-3">
  <div class="card-body">
    <%= form_with(model: [ movie, Comment.new ]) do |form| %>
      <div class="mb-3">
        <%= form.text_area :content, class: "form-control", rows: 3, placeholder: "แสดงความคิดเห็นของคุณ..." %>
      </div>
      <%= hidden_field_tag :user_id, current_user&.id %>
      <%= form.submit "Reply", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% movie.comments.order(created_at: :desc).each do |comment| %>
  <div class="card mb-2 shadow-sm">
    <div class="card-body">
      <p class="mb-1">
        <strong>
          <% if comment.user.present? %>
            <%= render "shared/user_panel", user: comment.user%>
          <% else %>
            guest
          <% end %>
        </strong>
        <%= comment.content %>
      </p>
      <div class="d-flex align-items-center text-muted small" style="font-size: 10px;">
        <i class="bi bi-clock me-1"></i>
        <span><%= time_ago_in_words(comment.created_at) %> </span>
      </div>
      <!-- Reply Button -->
      <button class="btn btn-sm btn-outline-primary" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#reply-<%= comment.id %>" 
            aria-expanded="false" 
            aria-controls="reply-<%= comment.id %>">
        <% if comment.replies.size > 0 %>
          View <%=  pluralize(comment.replies.size, "reply")   %>
        <% else %>
          Reply
        <% end %>
      </button>
      <!-- Reply Form (Collapsed) -->
      <div class="collapse mt-2" id="reply-<%= comment.id %>">
        <%= render "shared/replies", comment: comment %>
      </div>
    </div>
  </div>
<% end %>