<div class="card shadow-sm mb-3">
  <div class="card-body">
    <%= form_with(model: [ movie, Comment.new ]) do |form| %>
      <div class="mb-3">
        <%= form.text_area :content, class: "form-control", rows: 3, placeholder: "แสดงความคิดเห็นของคุณ..." %>
      </div>
      <%= hidden_field_tag :user_id, current_user&.id %>
      <%= form.submit "Reply", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% movie.comments.order(created_at: :desc).each do |comment| %>
  <div class="card mb-2 shadow-sm">
    <div class="card-body">
      <p class="mb-1">
        <strong>
          <% if comment.user.present? %>
            <%= comment.user.email %>
          <% else %>
            guest
          <% end %>
          :
        </strong>
        <%= comment.content %>
      </p>
      <div class="d-flex align-items-center text-muted small">
        <i class="bi bi-clock me-1"></i>
        <span><%= time_ago_in_words(comment.created_at) %> ที่ผ่านมา</span>
      </div>
    </div>
  </div>
<% end %>