<div class="modal fade" id="like-modal-<%= movie.id %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= movie.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mt-0 pt-0">
        <div id="likes-list-<%= movie.id %>">
          <% user_likes = UserLike.where(movie_id: movie.id)%>
          <% user_likes.each do |user_like| %>
            <div class="d-flex mt-2">
              <%= link_to user_path(user_like.user), class: "d-flex align-items-center gap-2 text-decoration-none" do %>
                <%= image_tag(
                  if user_like.user.avatar.attached?
                    user_like.user.avatar.variant(resize_to_fill: [30, 30])
                  else
                    "placeholder.png" # put your default image in app/assets/images
                  end,
                  class: "rounded-circle",
                  width: 30,
                  height: 30,
                  alt: "User Avatar"
                ) %>
                <span class="text-dark"><%= user_like.user.get_display_name %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>