<div id="reply-list-<%= comment.id %>">
  <% comment.replies.order(created_at: :asc).each do |reply| %>
    <div class="card shadow-sm m-2 p-2">
      <%= render "shared/user_panel", user: reply.user, movie: comment.movie %>
      <%= reply.content %>
      <div class="d-flex align-items-center text-muted small" style="font-size: 10px;">
        <i class="bi bi-clock me-1"></i>
        <span><%= time_ago_in_words(reply.created_at) %> </span>
      </div>
    </div>
  <% end %>
  <%= form_with(model: [ comment, Reply.new ]) do |form| %>
    <%= hidden_field_tag :user_id, current_user&.id %>
    <%= hidden_field_tag :comment_id, comment.id %>
    <div class="mb-2 ps-2">
      <%= form.text_area :content, class: "form-control mb-1", rows: 2, placeholder: "เขียนคำตอบของคุณ..." %>
      <%= form.submit "Send", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>