<div style="display: flex; align-items: center; gap: 10px;">
  <%= form_with url: admin_movies_path, method: :get, local: true, html: { style: 'display: flex; align-items: center; gap: 5px;' } do |form| %>
    <%= form.text_field :query, value: params[:query], placeholder: "Search", class: 'form-control' %>
    <%= form.submit "Search", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'New Movie', new_admin_movie_path, class: 'btn btn-success' %>
  <%= link_to "Fetch",
            fetch_admin_movies_path,
            data: { turbo_method: :post },
            class: "btn btn-success" %>
</div>
<!-- app/views/movies/index.html.erb -->
<table class="table-auto border-collapse border border-gray-300 w-full">
  <thead>
    <tr>
      <th class="border px-4 py-2">Image</th>
      <th class="border px-4 py-2">Title</th>
      <th class="border px-4 py-2">Description</th>
      <th class="border px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody id="admin-movie-list">
    <% @movies.each do |movie| %>
      <%= render "admin/movies/movie", movie: movie %>
    <% end %>
  </tbody>
</table>
<div class="mt-4">
  <%# Render navigation bar helpers with various types and styles %>
  <%== @pagy.series_nav %>
  <%== @pagy.info_tag %>
  <%# <%== Pagy.dev_tools %>
</div>
