<h1>Admin::Movies#index</h1>
<p>Find me in app/views/admin/movies/index.html.erb</p>
<div style="display: flex; align-items: center; gap: 10px;">
  <%= form_with url: admin_movies_path, method: :get, local: true, html: { style: 'display: flex; align-items: center; gap: 5px;' } do |form| %>
    <%= form.text_field :query, value: params[:query], placeholder: "Search posts...", class: 'form-control' %>
    <%= form.submit "Search", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'New Movie', new_movie_path, class: 'btn btn-success' %>
</div>
<!-- app/views/movies/index.html.erb -->
<table class="table-auto border-collapse border border-gray-300 w-full">
  <thead>
    <tr>
      <th class="border px-4 py-2">Title</th>
      <th class="border px-4 py-2">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="border px-4 py-2"><%= movie.title %></td>
        <td class="border px-4 py-2"><%= movie.description[0..50] + "..." %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-4">
  <%# Render navigation bar helpers with various types and styles %>
  <%== @pagy.series_nav %>
  <%== @pagy.info_tag %>
  <%# <%== Pagy.dev_tools %>
</div>
