<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="bg-light">
    <div class="container-fluid" style="padding: 0;">
      <%= render "layouts/topbar" %>
      <%= render "layouts/closable_flash", flash: flash%>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <% if controller_name == "pages" %>
      <footer class="bg-dark text-light py-3 mt-auto">
        <div class="container text-center">
          &copy; <%= Time.current.year %> PopcornThai. All rights reserved.
        </div>
      </footer>
    <% end %>
    <%= render "layouts/tail" %>
  </body>
</html>
